{% extends 'HUnutrition/base-dashboard.html' %}

{% block dashboard-content %}

<style type="text/css">
	#analyze{
		background-color: rgb(204, 204, 255);
	}
</style>

<div class="row beside-side-nav">
	<div class="card-panel">
		<h5><p class="teal-text text-darken-3">Search Below</p></h5>
	</div>

	<div class="card-panel">
		<form method="get" action="{% url 'HUnutrition:analyze' %}">
			<div class="row">
				<div class="input-field col l5 offset-l3 m6 offset-m3 s12">
					<i class="mdi-maps-local-pizza prefix"></i>
					<input class="validate" id="food" name="food" type="text">
					<label for="food">Name of the Food</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l5 offset-l3 m6 offset-m3 s12">
					<i class="mdi-maps-local-restaurant prefix"></i>
					<input type="text" id="brand" name="restaurant" class="validate">
					<label for="brand">Restaurant</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l5 offset-l7 m6 offset-m6 s6 offset-s6">
					<button class="btn waves-effect waves-light" type="submit">Search
					<i class="mdi-content-send right"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
