{% load staticfiles %}
<!doctype HTML>
<html lang="en">
<head>
    <!-- for proper rendering and touch zooming in mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<title>
		{{ title }}
	</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

    <!-- import materialize -->
    <link rel="stylesheet" href="{% static 'HUnutrition/css/materialize.min.css' %}">

    <!-- self made stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'HUnutrition/css/style.css' %}"/>

     <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'HUnutrition/js/materialize.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    });
      $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
    </script>

</head>

<body>
	<header>
		<ul id="nav-mobile" class="side-nav fixed blue-grey">
			<li class="bold"><h5>Logo Goes Here</h5></li>
			<li class="bold" id="analyze"><a href="{% url 'HUnutrition:analyze' %}" class="waves-effect waves-teal">Analayze Your Food</a></li>
			<li class="bold" id="nearme"><a href="{% url 'HUnutrition:nearme' %}" class="waves-effect waves-teal">Restaurants Near Me</a></li>
			<li class="bold" id="rec_food"><a href="{% url 'HUnutrition:recfood' %}" class="waves-effect waves-teal">Recommended Food</a></li>
			<li  style="padding : 1.5em; padding-left : 0em" id="mybody">
				<ul class="collapsible collapsible-accordion">
					<li class="bold"><a href="#" class="waves-effect waves-teal collapsible-header">My Body Information</a>
						<div class="collapsible-body">
							<ul class="grey lighten-2">
								<li><a href="{% url 'HUnutrition:mybody' %}" class="waves-effect waves-teal">My Body</a></li>
								<li><a href="#" onclick="Materialize.toast('You are at Washington, DC', 12000)">Where Am I</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="bold" id="donate"><a href="{% url 'HUnutrition:donate' %}" class="waves-effect waves-teal">Donate - help us help you</a></li>
		</ul>
	</header>
	<main>
		<div class="row">
			<div>
			    <div class="navbar-fixed navbar-holder-samman">
				    <nav>
				        <div class="nav-wrapper navbar-content-samman teal lighten-2">
					        <div class="col l10 offset-l2">
					        	<a href="{% url 'HUnutrition:dashboard' %}" class="brand-logo" style="padding-left:3em;">HUnutrition</a>
					        	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
					        	<ul class="right hide-on-med-and-down">
					    			<li><a href="{% url 'HUnutrition:mybody' %}">{{cached_memory.username}}</a></li>
					    			<li><a href="{% url 'HUnutrition:logout' %}">Sign Out</a></li>
					  			</ul>
					  			<ul class="side-nav" id="mobile-demo">
					  				<li class="bold red-text"><h5>Logo Goes Here</h5></li>
					    			<li><a href="{% url 'HUnutrition:mybody' %}">{{cached_memory.username}}</a></li>
									<li class="bold"><a href="{% url 'HUnutrition:analyze' %}" class="waves-effect waves-teal">Analayze Your Food</a></li>
									<li class="bold"><a href="{% url 'HUnutrition:nearme' %}" class="waves-effect waves-teal">Restaurants Near Me</a></li>
									<li class="bold"><a href="{% url 'HUnutrition:recfood' %}" class="waves-effect waves-teal">Recommended Food</a></li>
									<li style="padding : 1em; padding-left : 0em">
										<ul class="collapsible collapsible-accordion">
											<li class="bold"><a href="#" class="waves-effect waves-teal collapsible-header">My Body Information</a>
												<div class="collapsible-body">
													<ul class="grey lighten-2">
														<li><a href="{% url 'HUnutrition:mybody' %}" class="waves-effect waves-teal">My Body</a></li>
														<li><a href="#" onclick="Materialize.toast('You are at Washington, DC', 12000)">Where Am I</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</li>	
									<li class="bold"><a href="{% url 'HUnutrition:donate' %}" class="waves-effect waves-teal">Donate - help us help you</a></li>
					    			<li><a href="{% url 'HUnutrition:logout' %}">Sign Out</a></li>
					  			</ul>
					        </div>
				        </div>
				    </nav>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col l10 offset-l2 m9 offset-m3 s12">
				{% block dashboard-content %}

				{% endblock %}
			</div>
		</div>
	</main>
	<footer class="page-footer" style="padding-left: 2em;">
		<div class="row">
			<div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">Join The Discussion</h5>
							<p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
						</div>
						<div class="col l4 offset-l2 s12">
							<h5 class="white-text">Contact US</h5>
							<ul>
								<li><a class="grey-text text-lighten-3" href="https://github.com/">Github</a></li>
								<li><a class="grey-text text-lighten-3" href="https://facebook.com">Facebook</a></li>
								<li><a class="grey-text text-lighten-3" href="https://gmail.com">Gmail</a></li>
								<li><a class="grey-text text-lighten-3" href="https://htpchat.com">Hipchat</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						© 2014 Copyright Text
						<a class="grey-text text-lighten-4 right" href="#!">Samman Bikram Thapa</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>