{% load staticfiles %}
<!doctype HTML>
<html lang="en">
<head>
    <!-- for proper rendering and touch zooming in mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>
    {{ title }}
  </title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

    <!-- import materialize -->
    <link rel="stylesheet" href="{% static 'HUnutrition/css/materialize.min.css' %}">

    <!-- self made stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'HUnutrition/css/style.css' %}"/>
</head>
<body>

<!--fixed navbar at the top of the page -->
    <div class="navbar-fixed navbar-holder-samman">
        <nav>
            <div class="nav-wrapper navbar-content-samman teal lighten-2">
            {% if True %}
              <a href="{% url 'HUnutrition:login' %}" class="brand-logo">Videofy</a>
            {% else %}
              <a href="{% url 'HUnutrition:dashboard' %}" class="brand-logo">Videofy</a>
            {% endif %}
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#"></a></li>
      </ul>
            </div>
        </nav>
    </div>

    <main>
    {% block content %}

    {% endblock %}
    </main>
    
    <div class="divider"></div>

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Join The Discussion</h5>
                <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://facebook.com">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://gmail.com">Gmail</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://htpchat.com">Hipchat</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Samman Bikram Thapa</a>
            </div>
          </div>
        </footer>

 <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'HUnutrition/js/materialize.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    })
    </script>
</body>
</html>