{% extends 'HUnutrition/base-dashboard.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block dashboard-content %}

<div class="row beside-side-nav">
	<div class="card-panel">
		How've you been today? {{user}}
	</div>
	<div class="card-panel">
		<p>Use the side bar to the left to look at various features of the app. This app uses information provided from the nutrionix.com web app to get data about food, and uses the data you provided to analyze what food is good for you to eat.
		</p>
	</div>
</div>




{% endblock %}