{% extends 'HUnutrition/base-dashboard.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block dashboard-content %}

<style type="text/css">
	#donate{
		background-color: rgb(204, 204, 255);
	}
</style>

<div class="row beside-side-nav">
	<div class="card-panel">
		<h3>Donate</h3>
	</div>

	<div class="card-panel">
		<p> Help us grow by donating for our cause at this site</p>
	</div>
</div>

{% endblock %}