{% extends "HUnutrition/base.html" %}

{% block content %}


<div class="container below-navbar">
	<div class="card-panel">
		<h2>Welcome to Videofy</h2>
		<div class="row card-panel white">
			<br>
			<p> If you don't know us yet, sign up. Sign up with us and enjoy life long video subscription that we get to you using our smart algorithms to suit your taste.
			</p>
		</div>
	</div>
	<div class=" row card-panel white">
		<a class="btn waves-effect waves-light col s12 m12 l12" href="{% url 'HUnutrition:signup' %}">Sign Up with Twitter</a>
		<br>
		<br>
	</div>
	OR
	<div class="row card-panel white">
		<br>
		<br>
		<a class="btn waves-effect waves-light col s12 m12 l12" href="{% url 'HUnutrition:login' %}">Login with Twitter</a>
	</div>
</div>

{% endblock %}