{% extends 'HUnutrition/base-dashboard.html' %}

{% block dashboard-content %}

<style type="text/css">
	#mybody{
		background-color: rgb(204, 204, 255);
	}
</style>


<script>
	  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal({
    	dismissible: true, // Modal can be dismissed by clicking outside of the modal
      	opacity: .5, // Opacity of modal background
      	in_duration: 300, // Transition in duration
      	out_duration: 200, // Transition out duration
      	/*ready: function() { alert('Ready'); }, // Callback for Modal open
      	complete: function() { alert('Closed'); } // Callback for Modal close
      	*/
    });
  });
</script>
<div class="row beside-side-nav">
	<div class="card-panel">
		My Body:
	</div>

	<div class="card-panel">
		<p>
			Weight: {{cached_memory.weight}} <br>
			Height: {{cached_memory.height}} <br>
			BMI: {{cached_memory.bmi}} <br>
			Amount of calories you burn if you sleep all day (BMR): {{cached_memory.bmr}} <br>
			Amount of calories you need per day (TDEE): {{cached_memory.tdee}}<br>
			Amount of calories you burn per day (METs): {{cached_memory.met}} <br>
			Your color : {{cached_memory.color}} <br>
		</p>
	</div>

	<div class="card-panel">
	  <!-- Modal Trigger -->
		<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Update Info</a>

	  <!-- Modal Structure -->
		<div id="modal1" class="modal modal-fixed-footer">
			<div class="modal-content">
	      		<h4>Update Information</h4>
	      		<form method="post" action=" {% url 'HUnutrition:update' %}">
	    			{% csrf_token %}
					<div class="input-field col s12">
						<i class="#"></i>
						<input class="validate" id="age" name="age" type="text" value="{{cached_memory.age}}">
						<label for="age">Age</label>
					</div>
					<div class="input-field col s6">
						<input class="validate" id="weight" name="weight" type="text" value="{{cached_memory.weight}}">
						<label for="weight">Weight (in lbs)</label>
					</div>
					<div class="input-field col s6">
						<input class="validate" id="height" name="height" type="text" value="{{cached_memory.height}}">
						<label for="height">Height (in inches)</label>
					</div>
					<div class="input-field col l8">
						Gender:
						<input id="male" name="gender" type="radio" value="m">
						<label for="male">Male</label>
						<input id="female" name="gender" type="radio" value="f">
						<label for="female">Female</label>
					</div>
					<div class="input-field col l8">
						<br>
						I do  
						<br>
						<input id="exercise-heavily" name="work" type="radio" value="A" />
						<label for="exercise-heavily">hard daily exercise/sports and physical job or 2X day training i.e Marathon, contest</label>
						<br>
						<input id="exercise-regularly" name="exercise" type="radio" value="B" />
						<label for="exercise-regularly">hard exercise/sports 6 - 7 days per week</label>
						<br>
						<input id="exercise-sometimes" name="exercise" type="radio" value="C" />
						<label for="exercise-sometimes">moderate exercise/sports 3-5 days per week</label>
						<br>
						<input id="exercise-rarely" name="exercise" type="radio" value="D" />
						<label for="exercise-rarely">light exercise/sports 1-3 days per week</label>
						<br>
						<input id="exercise-never" name="exercise" type="radio" value="E" />
						<label for="exercise-never">little or no exercise, desk job</label>
					</div>
					<div class="input-field col l8">
						<br>
						I have
						<br>
						<input id="diabetes" name="diseases" type="checkbox" value="diabetes"/>
						<label for="diabetes">Diabetes</label>
						<br>
						<input id="hbp" name="diseases" type="checkbox" value="hbp"/>
						<label for="hbp">High Blood Pressure</label>
						<br>
						<input id="lbp" name="diseases" type="checkbox" value="lbp"/>
						<label for="lbp">Low Blood Pressure</label>
						<br>
						<input id="high_cholesterol" name="diseases" type="checkbox" value="cholesterol" />
						<label for="high_cholesterol">High Cholesterol</label>
						<br>
						<input id="none" name="diseases" type="checkbox" value="none" />
						<label for="none">None</label>
					</div>
					<div class="input-field col l8">
						<br>
						I want to benefit from HUNutrition
						<br>
						<input id="aim-strictly" name="aim" type="radio" value="A" />
						<label for="aim-strictly">Strictly</label>
						<br>
						<input id="aim-strongly" name="aim" type="radio" value="B">
						<label for="aim-strongly">Strongly</label>
						<br>
						<input id="aim-finely" name="aim" type="radio" value="C">
						<label for="aim-finely">Finely</label>
						<br>
						<input id="aim-loosely" name="aim" type="radio" value="D">
						<label for="aim-loosely">Loosely</label>
						<br>
						<input id="aim-minimum" name="aim" type="radio" value="E">
						<label for="aim-minimum">minimum</label>
					</div>
					<div class="input-field col offset-l7 offset-m7 offset-s2">
						<button class="btn waves-effect waves-light" type="submit" name="submit">Update
							<i class="mdi-content-send right"></i>
						</button>
					</div>
				</form>
	    	</div>
		</div>
	</div>
</div>

{% endblock %}