{% extends 'HUnutrition/base-dashboard.html' %}

{% block dashboard-content %}

<style type="text/css">
	#nearme{
		background-color: rgb(204, 204, 255);
	}
</style>

<div class="row beside-side-nav">
	<div class="row">
		<div class="card-panel">
			<p id="demo">You are in </p> 
		</div>

		<div class="card-panel">
			<ul>
			{% for items in results %}
				<li>{{items.name}} in {{items.vicinity}}</li>
			{% endfor %}
			</ul> 
		</div>
	</div>
</div>

<script>
var x = document.getElementById("demo");

(function getLocation(){
	if (navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(showPosition);
	}
	else
	{
		x.innerHTML = "Geolocation is not supported by you browser";
	}
})();

function showPosition(position){
	x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude; 
}
</script>

{% endblock %}