{% extends 'HUnutrition/base-dashboard.html' %}

{% block dashboard-content %}

<style type="text/css">
	#rec_food{
		background-color: rgb(204, 204, 255);
	}
</style>

<div class="row beside-side-nav">
	<div class="card-panel">
		The following food are good for you
	</div>

	<div class="card-panel">
		<table>
			<thead>
				<tr>
					<th data-field="menu">Menu Name</th>
					<th data-field="restaurant">Restautant</th>
					<th data-fied="calories">Calories</th>
				</tr>
			</thead>
			<tbody>
				{% for hits in results %}
				<tr>
					<td>{{hits.fields.item_name}} </td>
					<td>{{hits.fields.brand_name}} </td>
					<td>{{hits.fields.nf_calories}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}