{% extends 'HUnutrition/base-dashboard.html' %}

{% block dashboard-content %}

<style type="text/css">
	#analyze {
		background-color: rgb(204, 204, 255);
	}
</style>

<div class="row beside-side-nav">
	<div class="card-panel">
		<h5><p class="teal-text text-darken-3">Your Results</p></h5>
	</div>

	<div class="card-panel">
		<table>
			<thead>
				<tr>
					<th data-field="menu">Menu Name</th>
					<th data-field="restaurant">Restautant</th>
					<th data-fied="calories">Calories</th>
					<th data-field="color">Color Code</th>
				</tr>
			</thead>
			<tbody>
				{% for hits in results %}
				<tr>
					<td>{{hits.fields.item_name}} </td>
					<td>{{hits.fields.brand_name}} </td>
					<td>{{hits.fields.nf_calories}} </td>
					{% if cached_memory.color|lower == "red" %}
						{% if hits.fields.nf_calories <= 250 %}
							<td>Green</td>
						{% elif hits.fields.nf_calories <= 500 %}
							<td>Yellow</td>
						{% elif hits.fields.nf_calories > 500 %}
							<td>Red</td>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="card-panel">
	red -> Don't eat<br>
	Yellow -> not recommended <br>
	green -> recommended
	</div>
</div>


{% endblock %}
