{% extends 'HUnutrition/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<form method="post" action="{% url 'HUnutrition:signup' %}">
	{% csrf_token %}
	<div class="container below-navbar">
		<div class="row white" style="padding : 2em">
			<div class="card-panel">
				<h4>Sign Up</h4>
				<div class="red-text">{{error}}</div>
			</div>
			<div class="col l10 offset-l1 s12">
						<div class="input-field col s8 l8 m8">
							<i class="mdi-action-account-circle prefix"></i>
							<input id="username" name="username" type="text" class="validate" value="{{username}}">
							<label for="username">Username (3 - 30 characters)</label>
						</div> 
						<div class="input-field col s8 l8 m8">
							<i class="mdi-action-lock-outline prefix"></i>
							<input id="password" name="password" type="password" class="validate">
							<label for="password">Password (5 - 20 characters)</label>
						</div> 
						<div class="input-field col s8 l8 m8">
							<i class="mdi-action-lock prefix"></i>
							<input id="verify_password" name="verify_password" type="password" class="validate">
							<label for="verify_password">Verify Password</label>
						</div>
						<div class="input-field col s12">
							<i class="mdi-communication-email prefix"></i>
							<input class="validate" id="email" name="email" type="email" value="{{email}}">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s12">
							<i class="#"></i>
							<input class="validate" id="age" name="age" type="text" value="{{age}}">
							<label for="age">Age</label>
						</div>
						<div class="input-field col s6">
							<input class="validate" id="weight" name="weight" type="text" value="{{weight}}">
							<label for="weight">Weight (in lbs)</label>
						</div>
						<div class="input-field col s6">
							<input class="validate" id="height" name="height" type="text" value="{{height}}">
							<label for="height">Height (in inches)</label>
						</div>
						<div class="input-field col l8">
							Gender:
							<input id="male" name="gender" type="radio" value="m">
							<label for="male">Male</label>
							<input id="female" name="gender" type="radio" value="f">
							<label for="female">Female</label>
						</div>
						<div class="input-field col l8">
							<br>
							Everyday, I 
							<br>
							<input id="exercise-heavily" name="exercise" type="radio" value="A" />
							<label for="exercise-heavily">Exercise Heavily</label>
							<br>
							<input id="exercise-regularly" name="exercise" type="radio" value="B" />
							<label for="exercise-regularly">Exercise Regularly</label>
							<br>
							<input id="exercise-sometimes" name="exercise" type="radio" value="C" />
							<label for="exercise-sometimes">Exercise Sometimes</label>
							<br>
							<input id="exercise-rarely" name="exercise" type="radio" value="D" />
							<label for="exercise-rarely">Exercise Rarely</label>
							<br>
							<input id="exercise-never" name="exercise" type="radio" value="E" />
							<label for="exercise-never">Never Exercise</label>
						</div>
						<div class="input-field col l8">
							<br>
							I have
							<br>
							<input id="diabetes" name="diseases" type="checkbox" value="diabetes"/>
							<label for="diabetes">Diabetes</label>
							<br>
							<input id="hbp" name="diseases" type="checkbox" value="hbp"/>
							<label for="hbp">High Blood Pressure</label>
							<br>
							<input id="lbp" name="diseases" type="checkbox" value="lbp"/>
							<label for="lbp">Low Blood Pressure</label>
							<br>
							<input id="high_cholesterol" name="diseases" type="checkbox" value="cholesterol" />
							<label for="high_cholesterol">High Cholesterol</label>
							<br>
							<input id="none" name="diseases" type="checkbox" value="none" />
							<label for="none">None</label>
						</div>
						<div class="input-field col l8">
							<br>
							I want to benefit from HUNutrition
							<br>
							<input id="aim-strictly" name="aim" type="radio" value="A" />
							<label for="aim-strictly">Strictly</label>
							<br>
							<input id="aim-strongly" name="aim" type="radio" value="B">
							<label for="aim-strongly">Strongly</label>
							<br>
							<input id="aim-finely" name="aim" type="radio" value="C">
							<label for="aim-finely">Finely</label>
							<br>
							<input id="aim-loosely" name="aim" type="radio" value="D">
							<label for="aim-loosely">Loosely</label>
							<br>
							<input id="aim-minimum" name="aim" type="radio" value="E">
							<label for="aim-minimum">minimum</label>
						</div>
						<div class="input-field col offset-l7 offset-m7 offset-s2">
							<button class="btn waves-effect waves-light" type="submit" name="submit">Sign Up
								<i class="mdi-content-send right"></i>
							</button>
						</div>
			</div>
		</div>
	</div>
</form>



{% endblock %}