/* for the footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background-color: gray;
  }

main {
    flex: 1 0 auto;
  }

.navbar-holder-samman {
	margin-bottom: 0em;
}

.navbar-content-samman {
	padding-left: 2em;
}

.right-border {
	border-right: thick solid black;
}

.below-navbar {
	padding-top: 3em;
}

.beside-side-nav {
	padding-left: 5em;
}